* {
  box-sizing: border-box;
}
body.darkStyle {
  background: rgb(12, 14, 29);
  color: white;
  transition: 1.3s;
}
body.lightStyle {
  background: rgb(214, 219, 255);
  transition: 1.3s;
}
div.logoArea img {
  position: absolute;
  left: -30px;
  top: -30px;
  width: 150px;
  aspect-ratio: 1;
  mix-blend-mode: lighten;
}
div.JokeBox {
  display: flex;
  flex-direction: column;
  width: 80%;
  font-size: 1.5rem;
  font-family: sans-serif;
  min-height: 420px;
  margin: 150px 85px;
  border: 2px dotted rgb(0, 150, 12);
  border-radius: 20px;
  color: inherit;
}
div.heading {
  height: 50px;
  margin: 0 auto;
  font-size: 2rem;
  padding-top: 20px;
  font-weight: bolder;
}
div.mainjoke {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
}

div.mainjoke > div {
  padding: 50px 80px;
  font-size: 1.8rem;
}

button.btn-primary {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid rgb(0, 150, 12);
  position: relative;
  background-color: transparent;
  transition: 100ms;
  font-weight: bolder;
  font-size: 1.2rem;
  color: inherit;
  cursor: pointer;
  overflow: hidden;
}
button.btn-primary::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 55px;
  left: -59px;
  top: -4px;
  transform: skew(-45deg);
  background-color: rgb(0, 150, 12);
  z-index: 13;
  transition: 300ms;
}
button.btn-primary:hover::after {
  left: 215px;
}

.btnarea {
  display: flex;
  justify-content: center;
}

h3 {
  margin: 0 335px;
  width: auto;
}
.customizeArea .settings img {
  width: 50px;
  aspect-ratio: 1;
}
.customizeArea {
  display: flex;
  justify-content: flex-end;
}
.customizeArea .settings,
.customizeArea .theme {
  display: inline-block;
  cursor: pointer;
}
.customizeArea .settings img::selection {
  background-color: none;
}
div.options {
  width: 150px;
  display: flex;
  justify-content: space-around;
}
div.menu {
  background-color: rgb(133, 151, 228);
  outline: 4px groove lime;
  padding: 20px;
  border-radius: 23px;
  position: absolute;
  top: 100px;
  z-index: 45;
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 250px 250px;
  display: var(--displayValue);
  color: black;
}
.category {
  margin-left: 10px;
}
.menu > .category > span,
.menu > .flags > span,
.menu > .words > span,
.menu > .jokepart > span {
  display: inline-block;
  margin: 10px 25px;
  font-weight: 900;
  font-family: sans-serif;
}

.menu > .words input {
  height: 50px;
  outline: 0;
  width: 200px;
  border-radius: 12px;
  padding: 8px;
}
span {
  cursor: pointer;
  font-size: 1.5em;
  font-family: sans-serif;
}
button.apply {
  margin-top: -80px;
  margin-left: 180px;
  margin-right: -60px;
  height: 50px;
  font-weight: bold;
  background: rgb(124, 0, 0);
  color: white;
  border-radius: 12px;
  cursor: grabbing;
}
@media screen and (max-width: 540px) {
  html {
    font-size: 13px;
  }
  div.JokeBox {
    margin: 150px 20px;
  }
  div.menu {
    width: 400px;
  }
  div.JokeBox div.jokeText {
    margin: 0 -67px;
  }
}
